body {
    font-family: "Trebuchet MS", Tahoma, Verdana;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid gray;
    padding-left: 1em;
    padding-right: 1em;
}

h1 {
    background-color: lightgray;
    text-align: center;
    padding-top: .25em;
    padding-bottom: .25em;
    padding-left: .25em;
    padding-right: .25em;
    /*width: fit-content;*/
}

.ingredients {
    background-color: antiquewhite;
    width: fit-content;
}