/*Bootstrap CSS*/
/*@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";*/
/*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" >*/

header, footer, #content {
    background-color: blueviolet;
    border: 3px solid whitesmoke;
    border-radius: 7px 7px;
}

footer {
}

.carousel {
    background-color: darkgray;
    border-width: 10px;
}

.carousel-inner {
    border-color: #dee2e6;
    border-width: 10px;
}