/*Bootstrap CSS
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" >*/
@font-face {
    font-family: Finger Paint;
    src: url("../media/fonts/Finger_Paint/FingerPaint-Regular.ttf"); }
@font-face {
    font-family: Varela Round;
    src: url("../media/fonts/Varela_Round/VarelaRound-Regular.ttf"); }
@font-face {
    font-family: Inconsolata;
    src: url("../media/fonts/Inconsolata-Regular.tff");
    font-weight: normal; }
@font-face {
    font-family: Inconsolata;
    src: url("../media/fonts/Inconsolata-Bold.tff");
    font-weight: bold; }
@font-face {
    font-family: Geostar;
    src: url("../media/fonts/Geostar-Regular.ttf"); }
/*Defines variables fr later use*/
:root {
    --mainPadding: 1vh;
}

/*Spaces out the navbar and the carousel*/
header {
    margin-bottom: 20px;
}

/*Styling for the form error text spans*/
.formError {
    color: red;
}

footer {
    border: 3px solid whitesmoke;
    border-radius: 7px 7px;
    padding: .5%;
}

/*.carousel, .carousel-inner { border-width: 10px; }*/

.carousel { background-color: darkgray; }

.carousel-inner { border-color: #dee2e6; }

#wrapper {
    background-image: linear-gradient(black, mediumblue, aqua, white);
}

/*****************************************************/
/*Set up size of carousel*/
#carouselParent {
    width: 100%;
    height: 33vh;
    /*margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-image: url("../media/Mars 524x512 Good 1.png");
    background-repeat: no-repeat;*/
}

/*Carousel buttons have black background fade in on hover*/
#carouselLeft, #carouselRight {
    background-color: rgba(0, 0, 0, 0);
    transition: ease-in-out background-color .5s;
}
#carouselLeft:hover, #carouselRight:hover {
    background-color: rgba(0, 0, 0, .25);
}

/*Adjust padding so the .black-overlay takes up the whole parent*/
#carouselItem1 > .black-overlay, #carouselItem2 > .black-overlay {
    padding: 1vh;
    padding: var(--mainPadding, 1vh);
}
#carouselItem1, #carouselItem2 { padding: 0%; }

/*Set up carousel background images*/
#carouselItem1 {
    background-image: url("../media/Mars 524x512 Good 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#carouselItem2 {
    background-image: url("../media/ShiftingHuesPortfolioScreencap1.PNG");
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-inner, .carousel-item { height: 100%; }

.carousel-item { padding: 1%; }
/*****************************************************/

/*Fade in card img overlay on hover*/
.fadeBGOnHover {
    background-color: rgba(0, 0, 0, .65);
    opacity: 0;
    transition: ease-in-out opacity .5s;
}
    .fadeBGOnHover:hover {
        opacity: 1;
    }

nav {
    border: 3px solid whitesmoke;
    border-radius: 7px 7px;
}

/*Set up font stuff on navbar*/
nav > ul > li > a {
    font-family: 'Varela Round';
    text-shadow: 0px 0px 4px rgba(0, 0, 0, .85);
}

#header/*, #header > nav*/ {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.fitWidthToCont {
    /*width: 100%;*/
    height: auto/*100%*/;
    max-height: 100%;
}

#aboutMe {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: larger;
}

.nameDrop {
    font-family: 'Finger Paint';
    color: darkviolet;
    text-shadow: 0px 0px 5px darkturquoise;
}

.scaleImgHeight, #Mars {
    height: auto;
    width: auto;
    max-height: 100%;
}

footer, h1, h2 { text-align: center; }

.white-overlay {
    background-color: rgba(255, 255, 255, 0.45);
    width: 100%;
    height: 100%;
}

.black-overlay {
    background-color: rgba(0, 0, 0, .45);
    width: 100%;
    height: 100%;
}

h2 {
    color: whitesmoke;
    text-shadow: 0px 0px 4px whitesmoke;
    /*padding-top: 15px;*/
}

/*Setup card spacing*/
.myCardBody {
    padding: 5%;
    padding-top: 2.5%;
    margin: 0%;
}
/*.myCardBody > h3 {
    margin: 0px;
}*/

.myCardBodyItem {
    color: white;
    text-shadow: 0px 0px 4px whitesmoke;
}

/*.reveal-child-p-on-hover > p {
    display: none;
    opacity: 0;
    transition: display ease-in-out .75s;
}

.reveal-child-p-on-hover:hover > p {
    display: block;
    opacity: 1;
}*/

/*Fixed card body text overflow (temp fix)*/
.myCardBody/*, .myCardBody > .myCardBodyItemText*/ {
    overflow: auto;
}
.myCardBody > .myCardBodyItemText {
    overflow: visible;
}

/*If the device is an easily hoverable (mouse, not touchscreen) and highly accurate (mouse, not Wiimote) pointer*/
@media screen and (hover: hover) and (pointer: fine){

}