/* Reset
------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    background: #ffffff;
    font-size: 13px;
    color: #666666;
    font-family: Arial, helvetica, sans-serif;
}

ol, ul {
    list-style: none;
    margin: 0;
}

ul li {
    margin: 0;
    padding: 0;
}

h1 {
    /*margin-bottom: 10px;*/
    color: #111111;
}

a, img {
    outline: none;
    border: none;
    color: #000;
    font-weight: bold;
    /*text-transform: uppercase;*/
}

p {
    /*margin: 0 0 10px;*/
    line-height: 1.5em;
    font-size: 1.2em;
}

img {
    display: block;
    /*margin-bottom: 10px;*/
}

aside {
    font-style: italic;
    font-size: 0.9em;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

    /* ----------Structure---------- */
header nav li {
    display: inline;
}

a {
    font-size: 1.25em;
}

header a {
    font-size: 2.5em;
}

header h1 {
    display: inline-block;
    float: left;
    margin: 10px/*4px 4px 0px 4px*/;
    padding: 5px;
    background-color: lightcoral;
    border: 2px solid black;
}

#banner {
    display: block;
    float: left;
    margin: 5px;
    width: 10%;
    height: 10%;
}

.flex-container {
    /*float: left;*/
    display: flex;
}

nav ul {
    /*margin-top: 10px;*/
    padding-bottom: 10px;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
}

nav ul li {
    margin: 10px;
    flex: 1 1 auto;
}

/*#projects {
    flex-grow: 1;
}

#exercise {
    flex-grow: 1;
}

#misc {
    flex-grow: 1;
}*/

#main {
    padding: 5px;
    flex: 2 2 auto;
}

aside {
    display: block;
    float: right;
    flex: 1 1 auto;
    border: 2px solid black;
    padding: 5px;
}

aside ul {
    list-style-type: circle;
    list-style-position: inside;
}

#exercises {
    width: 50%;
    background-color: lightgray;
}

/*.main {

}*/