/* Reset
------------------------------------------------------------ */
*, ul li {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: #ffffff;
    font-size: 13px;
    color: #666666;
    font-family: Arial, helvetica, sans-serif;
}

ol, ul {
    list-style: none;
    margin: 0;
}

h1 {
    color: #111111;
}

a, img {
    outline: none;
    border: none;
    color: #000;
    font-weight: bold;
}

p {
    /*margin: 0 0 10px;*/
    line-height: 1.5em;
    font-size: 1.2em;
}

aside {
    font-style: italic;
    font-size: 0.9em;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, img {
    display: block;
}

/* ----------Structure---------- */
header nav ul li {
    display: inline;
}
.nav-flexbox {
    display: flex;
    /*padding-bottom: 10px;*/
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: space-around;
}
.nav-flexbox li {
    margin: 10px;
    flex: 0 1 auto;
}
.nav-flex-item {
    /*width: min-content;*/
    /*display: inline;*/
}

a {
    font-size: 1.25em;
}

header a {
    font-size: 2.5em;
}

header h1 {
    display: inline-block;
    float: left;
    margin: 10px/*4px 4px 0px 4px*/;
    padding: 5px;
    background-color: lightcoral;
}

#banner {
    display: block;
    float: left;
    margin: 5px;
    width: 10%;
    height: 10%;
}

#main {
    padding: 5px;
    flex: 2 2 auto;
}

aside {
    /*box-sizing: border-box;*/

    display: block;
    float: right;
    flex: 1 1 auto;
    /*padding: 5px;*/
}

aside ul {
    list-style-type: circle;
    list-style-position: inside;
}

.asideDiv {
    margin: 5px;
}
/*#projects, #exercises, #misc {
    margin: 5px;
}*/
#exercisesDiv {
    background-color: lightgray;
    margin: 0;
    padding: 5px;
}
#exercises {
    /*width: 50%;*/
    /*background-color: lightgray;*/
}

header nav ul {
    background-color: darkgrey;
}

.rounded-black-border {
    border: 2px solid black;
    border-radius: 6px;
}