* {
    margin: 0px;
    padding: 0px;
}
html, body {
    width: 100%;
    height: 100%;
}

/*Main flexbox*/
#mainFlexContainer {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}
#navbar {
    flex: 0 1 auto;
}
#mainContent {
    flex: 1 1 auto;
}

/*Note Grid*/
#mainContent {
    display: grid;

    /*6x6 grid*/
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

    /*grid-auto-flow:*/ 
}
.note {

}

/*Main div styling*/
#mainContent {
    /*width: 100%;
    height: 100%;*/

    background-color: black;
    border: 3px solid gray;
}

/*Note styling*/
.note {
    /*height: min-content;
    width: min-content;*/

    background-color: darkgray;
    color: whitesmoke;
}