@font-face {
    font-family: Finger Paint;
    src: url("../media/Finger_Paint/FingerPaint-Regular.ttf");
}
@font-face {
    font-family: Varela Round;
    src: url("../media/Varela_Round/VarelaRound-Regular.ttf");
}
@font-face {
    font-family: Inconsolata;
    src: url("../media/Inconsolata-Regular.tff");
    font-weight: normal;
}
@font-face {
    font-family: Inconsolata;
    src: url("../media/Inconsolata-Bold.tff");
    font-weight: bold;
}
@font-face {
    font-family: Geostar;
    src: url("../media/Geostar-Regular.ttf");
}
/** {
    margin: 0;
    padding: 0;
}*/
/*FIXES HORIZONTAL SCROLL PROBLEM*/
html {
    width: 100%;
    height: 100%;
}

/*color and theming*/
body {
    background-color: rgb(6, 70, 173);
    margin: 0px 10% 0px 10%;
}
.topLevelElem {
    background-color: whitesmoke;
    border-radius: 7px 7px;
    border: 3px solid black;
}

/*button stylings*/
button {
    display: inline;
    padding: 7px 10px 7px 10px;
    text-align: center;
    /*box-shadow: rgba(0,0,0,.4) 7px 7px;*/
    border-radius: 3px;
    transition-duration: 0.4s;
    background-color: rgba(255,255,255,1);
    border: 2px solid rgb(25, 95, 209);
}
button:hover {
    background-color: rgba(40,95,209,1);
    border: 2px solid rgb(40, 95, 209);
    color: whitesmoke;
}
button:active {
    background-color: rgba(0,55,169,1); /*original color -40 from each*/
    box-shadow: rgba(0,0,0,.5) 3px 3px;
}
/*Fav button styling*/
.favButton {
    display: inline;
    padding: 7px 10px 7px 10px;
    text-align: center;
    /*box-shadow: rgba(0,0,0,.4) 7px 7px;*/
    border-radius: 3px;
    transition-duration: 0.4s;
    background-color: rgba(224,224,224,0);
    /*border: 2px solid rgb(25, 95, 209);*/
    /*border: 2px solid rgb(128, 128, 128);*/
    border: none;
    opacity: 0;

    font-size: xx-large;
}
.result:hover>.favButton { opacity: 1; }
.favButton:hover {
    opacity: 1;
    background-color: rgba(224,224,224,1);
    border: /*2px solid rgb(40, 95, 209)*/ none;
    color: black;
}
.favButton:active {
    box-shadow: /*none*/rgba(128,64,64,.5) 3px 3px;
    border: none;
}

/*Main flexbox*/
#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 100vh;
    /*width: 100%;*/
}
header { flex: 0 1 auto; }
#mainBody { flex: 3 1 auto; }
footer { flex: 0 0 auto; }

/*Header flexbox*/
header {
    /*display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;*/

}
#title {
    margin-left: 20px;
    margin-right: 20px;
}
.titlebarButton {
    margin-left: 20px;
    margin-right: 20px;
}

/*Set up favButton on top left of img*/
.result { position: relative; }
.result .favButton {
    position: absolute;
    top: 10px;
    left: 10px;
}

/*Handle image scaling*/
.result img {
    /*max-height: 100%;*/
    max-width: 100%;
    width: auto;
    height: auto;
}

/*Results flexbox*/
#searchResults {
    /*border: 5px solid gray;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    /*align-content: stretch;*/
}

/*Images*/
.result {
    /*width: min-content;*/
    /*height: min-content;*/
    text-align: center;
}
.result {
    margin: 7px 0px 7px 0px;
}
.imgLink {
    /*height: min-content;*/
    /*height: 1px;*/
    margin: 0px;
    padding: 0px;
}
a:link, a:visited {
    display: inline;
    color: black;
}

/*Round result edges*/
.result {
    border-radius: 10px 10px;
    border: 5px solid gray;
}
.result img {
    border-radius: 10px 10px;
}

header {
    padding: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#mainBody {
    /*height: 100%;*/
    padding: 15px;
}

footer {
    text-align: center;
    font-size: x-large;
    margin-top: 15px;
    margin-bottom: 15px;
}

#title {
    display: inline;
    font-family: Geostar, sans-serif;
}

#searchbar {
    display: inline;
    text-align: center;
    /*width: min-content;*/
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#resultsContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}

#viewMods {
    display: none;
}