/*Palette: fa215d 0000cd 00ffff bf00ff 3066be MAYBE #ff00dc*/
* {
    margin: 0;
    padding: 0;
}
/*@font-face {
    font-family: Geostar;
    src: url("../media/Geostar-Regular.ttf");
}*/
/*FIXES HORIZONTAL SCROLL PROBLEM*/
html {
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: Finger Paint;
    src: url("../media/Finger_Paint/FingerPaint-Regular.ttf");
}
@font-face {
    font-family: Varela Round;
    src: url("../media/Varela_Round/VarelaRound-Regular.ttf");
}
/******** grid ********/
header {
    grid-area: header;
    margin-bottom: 10px;
    /*background-color: black;*/
}
#mainContent {
    grid-area: main;
    padding: 5px;
    margin-bottom: 5px;
    outline: 5px solid #bf00ff;
    background-color: rgba(0,0,0,.75);
    color: whitesmoke;
}
footer {
    grid-area: footer;
    margin-top: 5px;
    height: auto;
    background-color: darkgray;
    text-align: center;
    font-size: large;
}

#wrapper {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: min-content auto min-content;
    grid-template-columns: 20% auto 20%;
    grid-template-areas: "header header header" ". main ." "footer footer footer";
    justify-content: stretch;
    background-image: linear-gradient(black, mediumblue, aqua, white);
}
/*****************/
/******** nav flexbox ********/
#navlink3short { display: none; }
header nav {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navFlexObj {
    flex-grow: 1;
}
#navlink1 {
    flex-grow: 0;
}
/*****************/

header nav a {
    /*outline: 5px solid pink;*/ /*for construction only*/
    display: block;
    padding: 15px;
    text-align: center;
}

header nav {
    background: linear-gradient(#ff00dc, aqua);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

h1 {
    display: inline;
    font-family: 'Finger Paint', cursive;
}

#navlink2, #navlink3, #navlink3short, #navlink4 {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5em;
}

.navFlexObj, .navFlexObj:link, .navFlexObj:visited {
    font-size: large;
    font-weight: bold;
    transition: opacity .5s ease-in-out;
}

nav a:hover {
    background: linear-gradient(#ff00dc, aqua);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: transparent 3px;
    opacity: 0.5;
}

a:link, a:hover, a:visited {
    text-decoration: none;
    /*text-decoration-color: none;*/
}

h3 {
    display: inline;
}

ol {
    /*list-style: none;*/
    list-style-position: inside;
}
/*Temp responsive design for main content: replace w/ page-specific method of stopping single lines of content from spanning the main content obj*/
/*@media screen and (min-width: 1000px){
    #wrapper {
        grid-template-columns: 1fr 600px 1fr;
    }
}*/

/*RESPONSIVE FOR NAVBAR: Works past 480px*/
@media screen and (max-width: 675px) {
    #navlink1 {
        font-size: initial;
        width: min-content;
    }
    #navlink3short { display: block; }
    #navlink3 { display: none; }
}
/*Title probs from width 669 - 600
    EDIT: Randomly fixed
*/
@media screen and (max-width: 600px) {
    header nav a {
        padding: 10px;
    }
}